<!--
  File Name      : _Footer.cshtml
  Description    : Footer page
  Created Date   : 04-Mar-2017
  Notes          : <Notes>
-->


<div class="copyrights pull-left">
    <p> © 2017 Leama Systems. All Rights Reserved </p>
</div>
