<!--
  File Name      : _SideNavBar.cshtml
  Description    : Side bar navigation menu
  Created Date   : 03-Mar-2017
  Notes          : <Notes>
-->

<!-- Side bar -->

<div class="sidebar-menu">
    <div class="menu">
        <div class="logo-thumb text-center">
            LEAMA
        </div>
        <ul id="menu">
            @*<li id="menu-home">
                <div class="header-right">
                    <a href="index.html">
                        <i class="fa fa-bell"></i>
                        <span class="badge">3</span>
                        @*<img src="~/Images/Notification.png" /> <br />
                        <div class="p-t-17"> &nbsp; </div>
                    </a>
                </div>
            </li>*@
            <li id="menu-home"><a href="index.html">
                                   <i class="fa fa-bell" style="color:white;"></i>
                @*<i class="fa fa-tachometer"></i>*@
                @*<img src="~/Images/PropertyProf.png" />*@ <br />
                <div class="p-t-17">NOTIFICATION</div></a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    @*<i class="fa fa-tachometer"></i>*@
                    <img src="~/Images/PropertyProf.png" /> <br />
                    <div class="p-t-17">PROPERTY PROFILING</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    @*<i class="fa fa-tachometer"></i>*@
                    <img src="~/Images/invoice.png" /><br />
                    <div class="p-t-17">INVOICING</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    @*<i class="fa fa-tachometer"></i>*@
                    <img src="~/Images/Payments.png" /><br />
                    <div class="p-t-17">PAYMENTS</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    @*<i class="fa fa-tachometer"></i>*@
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17">RECEIPTS</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    @*<i class="fa fa-tachometer"></i>*@
                    <img src="~/Images/REPORTING.png" /><br />
                    <div class="p-t-17">REPORTING</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"> </div>