<!--
  File Name      : _TopNavBar.cshtml
  Description    : Top bar navigation menu
  Created Date   : 03-Mar-2017
  Notes          : <Notes>
-->

<!--header start here-->
<div class="header-main">
    <div class="header-left">
        <h3>LeaMa System</h3>
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div class="profile_details">
            <h3>LeaMa System</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="sub-header-main" style="height: 100px; font-size: 12px;">
    <div class="col-md-7 pull-left" style="padding: 35px;">
        <span> <i class="fa fa-filter"></i> FILTER PERFORMANCE BY :  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Month <i class="fa fa-calendar"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Region <i class="fa fa-angle-down"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Property <i class="fa fa-angle-down"></i> </span>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-5 pull-right">
        <div class="profile_details" style="padding:6%;font-size: 16px;">
            <div class="user-name">
                <p>Logged in as:</p>
            </div>
            <div class="user-name">
                <p>Malorum</p>
                <span>Caretaker</span>
                <i class="fa fa-angle-down"></i>
            </div>
            
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!--heder end here-->